################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/apiBolao/FileContentIndex/06acff5a-06d6-4d05-8448-3b4482ceaa68.vsidx
/.vs/apiBolao/FileContentIndex/185a9157-760b-4c8d-9a54-8247965fffbb.vsidx
/.vs/apiBolao/FileContentIndex/1def65d0-045e-40fd-b373-1f00517c523c.vsidx
/.vs/apiBolao/FileContentIndex/715b13c8-f9a9-42d9-824c-b2167ef611e4.vsidx
/.vs/apiBolao/FileContentIndex/c8cff4ef-ec85-4a7d-a8b6-56dc888ae6da.vsidx
