################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/apiBolao/FileContentIndex/06acff5a-06d6-4d05-8448-3b4482ceaa68.vsidx
